<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">HCMC Lis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">trang chủ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            chủ đề
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">tiểu thuyết</a></li>
                            <li><a class="dropdown-item" href="#">sách thiếu nhi</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">sách khoa học</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">giỏ sách</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            xin chào m
                        </a>
                        <ul class="dropdown-menu end-0" style="left: auto;">
                            <li><a class="dropdown-item" href="#">thông tin cá nhân</a></li>
                            <li><a class="dropdown-item" href="#">lịch sử mượn sách</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="tìm kiếm sách"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">tìm kiếm</button>
                    </div>
                </form>
                <ul class="list-group md-3">
                    <li class="list-group-item"><strong>các đầu sách được đọc nhiều</strong></li>
                    <li class="list-group-item">dark nhân tâm</li>
                    <li class="list-group-item">có làm mới có ăn</li>
                    <li class="list-group-item">giá tuổi trẻ</li>
                    <li class="list-group-item">1 ngàn đồng</li>
                </ul>
            </div>


            <form class="w-50 mx-auto">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">nhập email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">mật khẩu</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">ghi nhớ tài khoản</label>
                </div>
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
            </form>


        </div>
    </div>
    <footer class="text-center text-bg-dark rounded-3-3"> bản quyền &copy; 2023, thuộc về thư viện tphcm</footer>
    <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>